.deltalist {
    margin-top: 20px;
    display: grid;
    /*flex-wrap: wrap;*/
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    grid-column-gap: 20px;
    font-family: monospace;
}

.deltalist > div {
    margin-right: 10px;
}